---
import "./styles.css";

import IconArrowRight from "@public/icons/icon-arrow-right.svg";

// Datos de las clases con tipado explícito
interface ClassItem {
	name: string;
	imageSrc: string;
	imageAlt: string;
	description: string;
	category: string;
}

const classes: ClassItem[] = [
	{
		name: "Musculación",
		imageSrc: "/images/classes/strong.jpeg",
		imageAlt: "Persona entrenando con pesas",
		description:
			"Entrenamiento enfocado en el desarrollo y definición muscular con pesas y máquinas especializadas.",
		category: "musculacion",
	},
	{
		name: "CrossFit",
		imageSrc: "/images/classes/crossfit.jpeg",
		imageAlt: "Mujeres levantando una barra",
		description:
			"Entrenamiento funcional de alta intensidad que combina movimientos de diferentes disciplinas.",
		category: "crossfit",
	},
	{
		name: "Yoga",
		imageSrc: "/images/classes/yoga.jpg",
		imageAlt: "Persona practicando yoga",
		description:
			"Práctica que conecta cuerpo, mente y espíritu a través de posturas, respiración y meditación.",
		category: "yoga",
	},
	{
		name: "Spinning",
		imageSrc: "/images/classes/spinning.jpg",
		imageAlt: "Clase de spinning con bicicletas estáticas",
		description:
			"Entrenamiento cardiovascular intenso en bicicleta estática con música motivadora.",
		category: "spinning",
	},
	{
		name: "Funcional",
		imageSrc: "/images/classes/funcional.jpeg",
		imageAlt: "Personas en entrenamiento funcional",
		description:
			"Entrenamiento que mejora la capacidad del cuerpo para realizar movimientos cotidianos con eficacia.",
		category: "musculacion",
	},
	{
		name: "HIIT",
		imageSrc: "/images/classes/hiit.jpeg",
		imageAlt: "Clase de entrenamiento de alta intensidad",
		description:
			"Entrenamiento intervalado de alta intensidad que alterna períodos cortos de ejercicio intenso con recuperación.",
		category: "crossfit",
	},
];

export interface Props {
	showTitle?: boolean;
	title?: string;
}

const { showTitle = true, title = "Clases Destacadas" } = Astro.props;
---

<section
	class="classes-section o-container"
	id="classes"
>
	{showTitle && <h2 class="classes-title">{title}</h2>}
	<div class="classes__container">
		{
			classes.map((classItem) => (
				<div
					class="class-card"
					data-category={classItem.category}
				>
					<div class="card-image-container">
						<img
							class="card-image"
							src={classItem.imageSrc}
							alt={classItem.imageAlt}
						/>
						<div class="image-overlay">
							<span class="class-category">{classItem.name}</span>
						</div>
					</div>
					<div class="card-content">
						<h3>{classItem.name}</h3>
						<p>{classItem.description}</p>
						<button class="class-link a-button a-button--with-arrow">
							Ver más
							<IconArrowRight />
						</button>
					</div>
				</div>
			))
		}
	</div>
</section>
